@CHARSET "ISO-8859-1";

html,body{
	margin: 0;
	padding: 0;
}

#container{
	width: 100%;
	height: 450px;
}

#navigationMenu{
	float:left;
	width: 250px;
	height: 100%;
	border-right: 1px teal dotted;
	margin-top: 1px;
}

#navigationMenu ul{
	list-style: circle;
}

#navigationMenu ul li{
	font-family: sans-serif;
	padding-top:5px;
	font-size: 16px;
}


#navigationMenu ul a{
	color: teal;
	text-decoration: none;
}

#navigationMenu ul a:hover{
	text-decoration: underline;
}

.tealColor{
	color: teal;
}

#infoOfUser{
	margin-left: 1100px;
	width: 30%;
	height: 100%;
	border-left: 1px teal dotted;
	margin-top: -17px;
}

#infoOfUser ul{
	margin-left: 15px;
}

#infoOfUser ul li{
	padding-top: 5px;
	list-style: none;
}

#infoOfUser ul li a{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 16px;
	color: teal;
}

#infoOfUser ul li a:hover{
	text-decoration: underline;
	cursor: pointer;
}


#infoOfUser ul li:last-child{
	list-style: none;
	padding-top: 20px;
	font-size: 18px;
}
